header {
    .top-bar {
        padding: fluid(10, 15) 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        
        .wrapper {
            @include flex(space-between, center, wrap);
        }

        .location {
            @include flex(flex-start, center, wrap);
            gap: fluid(4, 8);

            svg {
                width: rem(26);
                height: rem(26);
            }

            .city {
                text-transform: capitalize;
                font-size: fluid(10, 12);
                font-weight: 500;
                color: fade-out($color-1, 0.5);
            }
        }

        .logged-in-user {
            @include flex(flex-start, center, wrap);
            gap: fluid(6, 12);

            .user {
                text-transform: capitalize;
                font-size: fluid(10, 12);
                font-weight: 600;
            }

            svg {
                width: rem(16);
                height: rem(16);
                fill: $color-2;
            }
        }
    }

    .header-wrap {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);

        @include media('>tablet') {
            padding: fluid(10, 20) 0;
        }

        .wrapper {
            @include flex(space-between, center, wrap);
        }

        .logo {
            font-family: $merriweather;
            font-size: fluid(18, 28);
            text-transform: capitalize;
        }

        .menu {
            ul {
                display: flex;
                gap: fluid(16, 32);

                li {
                    a {
                        display: block;
                        text-transform: uppercase;
                        font-size: fluid(10, 12);
                        font-weight: 700;
                        letter-spacing: rem(2);
                    }
                }
            }

            &.desktop {
                display: none;

                @include media('>tablet') {
                    display: block;
                }
            }
        }

        .search {
            svg {
                width: rem(20);
                height: rem(20);
                stroke-width: rem(3);
            }

            &.desktop {
                display: none;

                @include media('>tablet') {
                    @include flex(center, center, wrap);
                }
            }
        }

        .hamburger {
            display: flex;
            background-color: $color-1;

            @include media('>tablet') {
                display: none;
            }

            .hamburger-box {
                .hamburger-inner {
                    
                }
            }
        }
    }
}